body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #f5f5f5;
    font-size: 1.8em;
    text-align: center;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
    color: #cccccc;
}

input[type="text"] {
    padding: 5%;
    width: 90%;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: #2c2c2c;
    border: 1px solid #444444;
    border-radius: 5px;
    color: #f5f5f5;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #1E90FF;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

button {
    background-color: #1E90FF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 30%;
    margin: 5px;
    transition: background-color 0.3s;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

button:hover {
    background-color: #0077cc;
}

button:focus {
    outline: none;
}

.toggle-button {
    padding: 10px 20px;
    background-color: #444444;
    border: 1px solid #666666;
    border-radius: 5px;
    cursor: pointer;
    color: #f5f5f5;
}

.toggle-button.pressed {
    background-color: #0077cc;
    color: white;
}

.toggle-button.pressed:hover {
    background-color: #0077cc;
}

.toggle-button:hover {
    background-color: #555555;
}
